nav {
    margin-bottom: 0 !important;
    background-color: black !important;
}

.uk-alert-danger {
    margin-top: 0 !important;
}

#warningMessage {
    text-align: center;
}

.weatherData {
    margin-top: 50px;
}

li {
    list-style-type: none;
}

.cityBtn {
    display: block;
    margin: 5px;
}

.uk-width-1-5 {
    padding-left: 25px;
    width: 200px;
    height: 275px;
    overflow: hidden;
    text-align: center;
}